/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/jun/2015, 21:05:00
    Author     : fabio menezes
*/


@media (max-width:360px){
    .frontimage {
        position: fixed;
        bottom:0;
    }
}

@media (min-width:640px){
    .top {
        background-position-y: -100px;
    } 
}