/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/jun/2015, 20:05:43
    Author     : fabio menezes
*/

body.admedia {
    padding:0;
}

.container-fluid {
    background-color: #EBEFF1;
}