/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/jun/2015, 20:05:43
    Author     : fabio menezes
*/

body.admedia {
    padding:0;
    margin: 0;
    background-color: #EBEFF1;
}
.container-fluid {

}

.menu-container {
    position:fixed;
    background-color: aliceblue;
    top:0;
    width: 78%;
    height:100%;
    left: -78%;
    -webkit-transition: left 0.3s; /* Safari */
    transition: left 0.3s;
}
.menu-container.active {
    left: 0;
}
.menu-container .avatar {
    padding: 13%;
    text-align: center;
    
}
.menu-container .avatar img {
    border-radius: 50% 50%;
}
.menu-container .name {
    text-align: center;
}
.menu-container .options {
    margin: 2em 1em;
}
.menu-container .options .item {
    padding: 1em;
}